body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: #2D2D2D;
}

canvas {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

